@import '../../../style/variables.scss';

.about_page {
    min-height: 620px;
    padding: 50px 0 60px;
    &_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }
    &_left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 15px;
        @media screen and (max-width: 550px) {
            align-items: center;
        }
        &_section-name {
            color: $brand-color;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 2.8px;
            line-height: 20px;
            position: relative;
            padding-left: 25px;
            &::after {
                content: '';
                position: absolute;
                left: 128px;
                top: 10px;
                width: 17px;
                height: 2px;
                background-color: $brand-color;
            }
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 10px;
                width: 17px;
                height: 2px;
                background-color: $brand-color;
            } 
        }
        &_title {
            color: $main_color;
            font-size: 42px;
            font-weight: 700;
            line-height: 50px;
            margin-top: 20px;
        }
        &_descr {
            color: $ligth-text-color;
            font-size: 17px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0.85px;
            margin-top: 30px;
        }
        &_list {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            &-item {
                font-size: 15px;
                font-weight: 400;
                letter-spacing: 0.96px;
                line-height: 21px;
                padding: 10px;
                &::before {
                    content: '';
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    background-color: $dark-shade-color;
                    border-radius: 50%;
                    margin-right: 15px;
                }
            }
        }
        &-button {
            margin-top: 30px;
            background-color: #79a207;
            color: #fff;
            &:hover {
                background-color: $main-color;
                transition: all 0.4s;
                color: #fff;
            }
        }
    }
    &_right {
        padding: 0 15px;
        @media screen and (max-width: 768px) {
            padding: 50px 0;
        }
        &-img {
            width:670;
            height: 510px;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.carousel {
    min-height: 560px;
    padding: 50px 0 40px;
    &_wrapper_item {
        display: flex;
        width: 290px;
        height: 490px;
        box-shadow: 0 0 10px rgb(13 60 0 / 20%);
        border-radius: 4px;
        border-top: 4px solid $brand-color;
        margin: 3px auto;
    }
    &_item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 30px 45px;
        &-img {
            display: flex;
            width: 100px;
            height: 100px;
            background-color: rgba(121, 162, 7, 0.23);
            border-radius: 50%;
            img {
                display: block;
                width: 60px;
                height: 60px;
                margin: auto;
            }
        }
        &-title {
            color: $main_color;
            font-size: 24px;
            font-weight: 900;
            line-height: 33px;
            margin-top: 10px;
        }
        &-descr {
            color: $ligth-text-color;
            font-size: 17px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0.85px;
            margin-top: 10px;
        }
        &-btn {
            background-color: #79a207;
            color: #fff;
            &:hover {
                background-color: $main-color;
                transition: all 0.4s;
                color: #fff;
            }
        }
    }
}

