@import '../../../style/variables.scss';


.single_shop_good {
    min-height: 600px;
    padding: 20px 0 60px;
    .good {
        display: grid;
        grid-template-columns: 1fr 1fr;
        &-image {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 25px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &-info {
            display: flex;
            flex-direction: column;
            padding: 0 25px;
            &-block {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &-stock {
                color: $brand-color;
                font-size: 17px;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 0.85px;
            }
            &-back {
                background-color: $brand-color;
                color: #fff;
                &:hover {
                    background-color: $main-color;
                    transition: all 0.4s ease;
                }
            }
            &-title {
                font-size: 24px;
                font-weight: 900;
                line-height: 33px;
            }
            &-code {
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 2.8px;
                color: $ligth-text-color;
                margin-top: 10px;
            }
            &-price {
                font-size: 20px;
                font-weight: 700;
                line-height: 30px;
                letter-spacing: 1px;
                margin-top: 20px;
            }
            &-divider1, &-divider2 {
                width: 100%;
                border-bottom: 1px solid rgba(112,112,112,0.3);
            }
            &-divider1 {
                margin-top: 20px;
            }
            &-divider2 {
                margin-top: 7px;
            }
            &-addtocart {
                display: grid;
                grid-template-columns: 1fr 2fr;
                justify-content: space-between;
                align-items: center;
                padding: 15px 0;
                &-count {
                    display: flex;
                    width: 75px;
                    height: 37px;
                    border: 1px solid rgba(112,112,112,0.4);
                    padding: 0 15px;
                    input {
                        width: 90%;
                        border: 0;
                        outline: none;
                    }
                    .arrows {
                        position: relative;
                        padding-left: 10px;
                        .up::before {
                            content: '';
                            position: absolute;
                            top: 24%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 0;
                            height: 0;
                            border-left: 6px solid transparent;
                            border-right: 6px solid transparent;
                            border-bottom: 6px solid $ligth-text-color;
                            cursor: pointer;
                        }
                        .down::before {
                            content: '';
                            position: absolute;
                            bottom: 10%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 0;
                            height: 0;
                            border-left: 6px solid transparent;
                            border-right: 6px solid transparent;
                            border-top: 6px solid $ligth-text-color;
                            cursor: pointer;
                        }
                    }
                }
                &-btn {
                    background-color: $brand-color;
                    color: #fff;
                    width: 100%;
                    height: 40px;
                    padding: 12px;
                    cursor: pointer;
                    &:hover {
                        background-color: $main-color;
                        transition: all 0.4s ease;
                    }
                }
            }
            &-descr {
                color: $ligth-text-color;
                font-size: 17px;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 0.85px;
                margin-top: 20px;
                &-title {
                    position: relative;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 16px;
                    margin-top: 20px;
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -8px;
                        left: 0;
                        width: 73px;
                        height: 2px;
                        background-color: $brand-color;
                    }
                }
            }
        }
    }
}