.btn_large {
    width: 140px;
    height: 57px;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}
.btn_small {
    width: 110px;
    height: 41px;
    border-radius: 40px;
    padding: 13px;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
}
.btn_buy {
    color: #fff;
    background-color: $brand-color;
    border: 0;
    width: 65px;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    cursor: pointer;
    &:hover {
        background-color: $main-color;
        transition: background-color 0.3s ease-in-out;
    }
}