@import '../../../style/variables.scss';

.offer {
    min-height: 960px;
    padding: 30px 0 50px;
    &-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 600px;
        margin: auto;
        &__name {
            color: $brand-color;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 2.8px;
            line-height: 20px;
            position: relative;
            padding: 0 25px;
            &::after {
                content: '';
                position: absolute;
                left: 170px;
                top: 10px;
                width: 17px;
                height: 2px;
                background-color: $brand-color;
            }
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 10px;
                width: 17px;
                height: 2px;
                background-color: $brand-color;
            } 
        }
        &__title {
            font-size: 42px;
            font-weight: 700;
            line-height: 50px;
            margin: 10px 0;
        }
        &__descr {
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            text-align: center;
        }
    }
    &-tabs {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(25, 28, 24, 0.15);
        &-tab {
            width: 110px;
            height: 50px;
            padding: 15px 20px;
            color: rgba(13, 60, 0, 0.5);
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 2.8px;
            line-height: 20px;
            position: relative;
            cursor: pointer;
            &:hover {
                color: $main-color;
                transition: all 0.4s;
            }
            &:before {
                content: "";
                position: absolute;
                left: 50%;
                width: 0;
                bottom: 0;
                height: 2px;
                background: #79a207;
                transition: width 0.3s ease-in-out;
            }
            &:after {
                content: "";
                position: absolute;
                right: 50%;
                width: 0;
                bottom: 0;
                height: 2px;
                background: #79a207;
                transition: width 0.3s ease-in-out;
            }
            &-active {
                &:before {
                    width: 50%;
                }
                &:after {
                    width: 50%;
                }
            }
        }
        &_content {
            display: grid;
            grid-template-columns: repeat(4, minmax(280px, 1fr));
            justify-items: center;
            @media screen and (max-width: 1180px) {
                grid-template-columns: repeat(2, 1fr);
                row-gap: 40px;
            }
            @media screen and (max-width: 610px) {
                grid-template-columns: 1fr;
            }
            margin-top: 30px;
            &-card {
                display: flex;
                flex-direction: column;
                width: 280px;
                height: 600px;
                &-img {
                    img {
                        display: block;
                        border-radius: 10px;
                        width: 280px;
                        height: 380px;
                        object-fit: cover;
                    }
                }
                &-title {
                    color: $main-color;
                    font-size: 24px;
                    font-weight: 900;
                    line-height: 33px;
                    text-align: center;
                    margin-top: 20px;
                }
                &-descr {
                    color: $ligth-text-color;
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 25px;
                    letter-spacing: 0.85px;
                    margin-top: 20px;
                }
            }
        }
    }
}

.pricing {
    min-height: 720px;
    padding: 5px 0 20px;
    &-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 600px;
        margin: auto;
        &__name {
            color: $brand-color;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 2.8px;
            line-height: 20px;
            position: relative;
            padding-left: 25px;
            &::after {
                content: '';
                position: absolute;
                left: 100px;
                top: 10px;
                width: 17px;
                height: 2px;
                background-color: $brand-color;
            }
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 10px;
                width: 17px;
                height: 2px;
                background-color: $brand-color;
            } 
        }
        &__title {
            font-size: 42px;
            font-weight: 700;
            line-height: 50px;
            margin: 20px 0;
        }
        &__descr {
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            margin-top: 10px;
            text-align: center;
        }
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(4, minmax(240px, 1fr));
        margin-top: 50px;
        @media screen and (max-width: 1160px) {
            grid-template-columns: repeat(2, minmax(260px, 1fr));
            justify-items: center;
            row-gap: 30px;
        }
        @media screen and (max-width: 578px) {
            grid-template-columns: 1fr;
            justify-items: center;
        }
        &_card {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 270px;
            max-width: 270px;
            height: 390px;
            box-shadow: 0 0 10px rgb(13 60 0 / 20%);
            border-radius: 4px;
            border-top: 4px solid $brand-color;
            padding: 45px 5px;
            &-uptitle {
                font-size: 22px;
                font-weight: 900;
                line-height: 30px;
                span {
                    color: $brand-color;
                }
            }
            &-title {
                font-size: 36px;
                font-weight: 900;
                line-height: 47px;
                margin: 20px 0;
            }
            &-descr {
                display: flex;
                flex-direction: column;
                align-items: center;
                span {
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0.85px;
                    color: $ligth-text-color;
                }
            }
            &-btn {
                margin-top: 40px;
                background-color: $brand-color;
                color: #fff;
                &:hover {
                    background-color: $main-color;
                    color: #fff;
                    transition: all 0.4s;
                }
            }
        }
    }
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        &__content {
            width: 500px;
            height: 500px;
            background-color: #fff;
            border-radius: 10px;
            .contact-form {
                padding: 10px 40px;
                gap: 5px;
                &-title {
                    font-size: 38px;
                }
                form {
                    gap: 10px;
                    margin-top: 10px;
                }
            }
            
        }
    }
}